
# Elastic Beanstalk Files
# .elasticbeanstalk/*
# !.elasticbeanstalk/*.cfg.yml
# !.elasticbeanstalk/*.global.yml
.elasticbeanstalk/app_versions/*
.venv/*
.venv/
.env/*
.env/
*.zip
debug.log
*.json
var.env
*.pyc
*.csv
*.ipynb
*/migrations/*
*.htm
settings.py
./mysite/settings.py
*/__pycache__/*