
# Elastic Beanstalk Files
# .elasticbeanstalk/*
# !.elasticbeanstalk/*.cfg.yml
# !.elasticbeanstalk/*.global.yml
.elasticbeanstalk/app_versions/*
.venv/*
.venv/
.env/*
.env/
Archive.zip
debug.log
t-test-700f2-firebase-adminsdk-fbsvc-72cb33983a.json
var.env