option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "mysite.settings"
    PYTHONPATH: "/var/app/current:$PYTHONPATH"
  aws:elasticbeanstalk:container:python:
    WSGIPath: mysite.wsgi:application
    
container_commands:
  01_makemigrations:
    command: "django-admin.py makemigrations --noinput"
    leader_only: true
  02_migrate_fake:
    command: "django-admin.py migrate --fake"
    leader_only: true
  03_migrate:
    command: "django-admin.py migrate"
    leader_only: true
  04_syncdb:
    command: "django-admin.py syncdb"
    leader_only: true
  # ------------------------------------- new -------------------------------------
  05_superuser:
    command: "django-admin.py createsu"
    leader_only: true
  # ------------------------------------- new -------------------------------------
  06_collectstatic:
    command: "django-admin.py collectstatic --noinput"
    leader_only: true
  # --------------------------------- end of new  ---------------------------------
